<!doctype html>
<html lang='en'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{ page.title }}</title>

	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.rss">

	<link href='http://fonts.googleapis.com/css?family=Inconsolata|Droid+Serif' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/blog.css" type="text/css">
</head>
<body>
	<div class='container_12'>
		<div class='header'>
			<div id='big-name' class='grid_7'>
				<a href='/'>Andrew Huynh</a>
			</div>
			<div id='my-attrs'>
				<div id='short_word'>Thoughts</div>
				<div id='short_word'>and ramblings.</div>
			</div>
			<div id='social-icons' class='grid_1'>
				<div style='margin-bottom:4px;'>
					<a href='http://www.google.com/recaptcha/mailhide/d?k=01riQqCHs4eJ535QVlNaD-lg==&amp;c=f66OrCHXc7tpnh7rSM6Cob_FBePpVLHtPh0VM6Bg1EA='>
						<img src='/static/img/email.png' alt='Email me!'>
					</a>
				</div>
				<div style='margin-bottom:4px;'>
					<a href='http://twitter.com/a5huynh'>
						<img src='/static/img/twitter.png' alt='Follow me on Twitter!'>
					</a>
				</div>
				<div>
					<a href='http://www.linkedin.com/profile/view?id=30602610'>
						<img src='/static/img/linkedin.png' alt='Check me out on LinkedIn.'>
					</a>
				</div>
			</div>
		</div>