---
---

@import "_constants";
@import "_layout";
@import "_syntax";
@import "_slider";

blockquote {

	color: #666;
	font-family: $header-font;
	margin: 0 0 8px -24px;
	padding: 0;
	border-left: 8px solid $orange;

	> p {
		margin: 0;
		padding: 16px 0 16px 16px;
	}
}

p.meta {
	color:#AAA;
}

p > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.article {
	padding:0 !important;

	> .captioned_img {
		text-align:center;
		margin:16px;
	}

	> p {
		padding-bottom: 8px;
	}

}

.footer {
	clear: both;
	text-align: center;

	padding: 32px 0 48px 0;
}

div.section {
	clear: both;
	margin-top: 16px;
}

.post-list-header {
	margin-bottom:16px;
	padding-left:16px;
	border-left:4px solid transparent;
}

.post-item {
	padding: 8px;
	margin-bottom: 8px;

	.post-title {
		color: #333;
		font-family: $content-font;
		font-size: 18px;
		border-bottom: 0;
	}

	.post-date {
		font-size: 16px;
		float: right;
		color: #CCC;
	}

	.post-excerpt {
		padding-top: 8px;
		line-height: 24px;
		font-size: 12px;
		color: #999;
	}
}

.post-item:hover {
	.post-title {
		color: $orange;
	}

	.post-excerpt {
		color: #666;
	}
}

.tags {
	font-size:0px;
}

.tag {
	vertical-align: middle;
	opacity:.5;
	margin-right:4px;
}

.caption {
	font-size:12px;
	color:#1691d8;
}

h2:before {
	content: '# ';
}

h2 {
	font-size:20px;
	color: $orange;
}

h1 {
	font-size:30px;
}
h1, h2 {
	font-family: $content-font;
	font-weight: lighter;
	color: $orange;
	margin-bottom:4px;
}

h3 {
	color: #444;
	padding:0;
	margin: 0;
	font-size: 18px;
}

h3:before{content:'# '}

strong {
	color:black;
}

div.image {
	height: 256px;
	overflow: hidden;
	border-radius: 8px;

	img {

		width: 100%;
	}
}