blockquote {
	color:#666;
	font-size:14px;	
	margin:0;
	padding:0;
}

blockquote > p {
	margin:0;
	padding:0;
	padding-left:16px;
	border-left:2px solid orange;
}

.article > p {
	padding-bottom: 8px;
}

.article a {
	color:#1691d8;
}

.article a:hover {
	text-decoration:underline;
}

.post-list-header {
	margin-bottom:16px;
	padding-left:16px;
	border-left:4px solid #FFF;
}

.post-item {
	padding:8px 0;
	margin-bottom:8px;
	padding-left:16px;
	border-left:4px solid white;
}

.post-item a {
	color:#333;
	font-family:"Droid Serif",Georgia,"Times New Roman",serif;
}

.post-item:hover {
	border-left:4px solid gray;
}

.post-item .post-title {
	font-size:16px !important;
}

.article {
	padding:0 !important;
}

.article > .captioned_img {
	text-align:center;
	margin:16px;
}

.caption {
	font-size:12px;
	color:#1691d8;
}

h2:before {
	content: '# '; 
}

h2 {
	font-size:20px;
	color:orange; 
}

h1 {
	font-size:30px;
}
h1, h2 {
	font-family:"Droid Serif",Georgia,"Times New Roman",serif;
	font-weight: lighter;
	color: orange;
	margin-bottom:4px;	
}

h3 {
	color: #444;
	padding:0;
	margin:0;
	font-size:16px;
}

h3:before{content:'# '}

strong {
	color:black;
}