---
---

@import "_constants";
@import "_layout";
@import "_syntax";

blockquote {

	color:#666;
	font-size:14px;
	margin: 0 0 8px -24px;
	padding:0;
	border-left: 8px solid $orange;

	> p {
		margin: 0;
		padding: 16px 0 16px 16px;
	}
}

p.meta {
	color:#AAA;
}

.article {
	padding:0 !important;

	> .captioned_img {
		text-align:center;
		margin:16px;
	}

	> p {
		padding-bottom: 8px;
	}

}

div.section {
	margin-top: 16px;
}

.post-list-header {
	margin-bottom:16px;
	padding-left:16px;
	border-left:4px solid transparent;
}

.post-item {
	padding: 8px 0 8px 16px;
	margin-bottom: 8px;
	border-left: 4px solid transparent;

	a {
		color:#333;
		font-family: $content-font;
	}

	.post-title {
		font-size: 14px !important;
	}
}

.post-item:hover {
	border-left:4px solid gray;
}

.post-selected {
	border-left:4px solid gray;

	> a > div {
		color: $orange;
	}
}

.post-year {
	color: #CCC;
	margin-bottom:8px;
}

.tags {
	font-size:0px;
}

.tag {
	vertical-align: middle;
	opacity:.5;
	margin-right:4px;
}

.caption {
	font-size:12px;
	color:#1691d8;
}

h2:before {
	content: '# ';
}

h2 {
	font-size:20px;
	color: $orange;
}

h1 {
	font-size:30px;
}
h1, h2 {
	font-family: $content-font;
	font-weight: lighter;
	color: $orange;
	margin-bottom:4px;
}

h3 {
	color: #444;
	padding:0;
	margin: 0;
	font-size: 18px;
}

h3:before{content:'# '}

strong {
	color:black;
}