/* Import our HTML5 reset and 960 grid css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *	  http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *	  www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */ }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
body,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9
 * 2. Improves image quality when scaled in IE7
 *	  code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent margin and padding
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 * 2. Corrects inner spacing displayed oddly in IE6/7
 */
button,
input {
  line-height: normal;
  /* 1 */
  *overflow: visible;
  /* 2 */ }

/*
 * Corrects overlap and whitespace issue for buttons and inputs in IE6/7
 * Known issue: reintroduces inner spacing
 */
table button,
table input {
  *overflow: auto; }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */ }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
body {
  min-width: 960px; }

/* `Container
----------------------------------------------------------------------------------------------------*/
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px; }

.container_12 .grid_1 {
  width: 60px; }

.container_12 .grid_2 {
  width: 140px; }

.container_12 .grid_3 {
  width: 220px; }

.container_12 .grid_4 {
  width: 300px; }

.container_12 .grid_5 {
  width: 380px; }

.container_12 .grid_6 {
  width: 460px; }

.container_12 .grid_7 {
  width: 540px; }

.container_12 .grid_8 {
  width: 620px; }

.container_12 .grid_9 {
  width: 700px; }

.container_12 .grid_10 {
  width: 780px; }

.container_12 .grid_11 {
  width: 860px; }

.container_12 .grid_12 {
  width: 940px; }

body {
  background: url("/static/img/light_wool.png") repeat; }

body > div {
  margin-top: 16px; }

emph {
  color: #1691d8; }

h2, .header {
  font-family: "Inconsolata", sans-serif;
  /* A nice easy-to-use auto-clearing technique */
  overflow: hidden;
  width: 100%; }

A, A:hover, A:active, A:visited {
  text-decoration: none;
  color: #1691d8;
  border-bottom: 1px dotted #999; }

img {
  vertical-align: middle; }

.section {
  position: relative; }

.subheader {
  font-size: 16px;
  color: #1691d8;
  font-weight: normal;
  font-family: "Inconsolata", sans-serif;
  margin-bottom: 4px; }

.article {
  font-size: 16px;
  font-family: "Droid Serif", Georgia, "Times New Roman", serif;
  line-height: 155%;
  color: #000;
  margin-bottom: 16px; }

#big-name {
  border-right: 4px solid orange;
  font-size: 84px; }

#my-attrs {
  float: left;
  padding-left: 20px;
  padding-top: 11px;
  font-size: 32px;
  width: 288px;
  margin-right: 8px; }

#social-icons {
  text-align: right;
  padding-top: 8px;
  /* Don't underline the social icon links */ }
  #social-icons a {
    border-bottom: 0 !important; }

/* Header's inside article will have a nice code comment effect */
.article > h2:before {
  content: '# '; }

.article > h2 {
  font-family: "Inconsolata", sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: orange;
  padding: 0;
  margin: 0 0 8px 0; }

.article > .github-link {
  margin-top: 8px;
  font-size: 12px;
  padding: 8px; }

.footer {
  color: #AAA;
  font-size: 12px; }

/* Tab styles */
.ido {
  width: 398px;
  cursor: pointer;
  color: #DDD;
  border-left: 4px solid #FFF;
  margin-bottom: 16px; }
  .ido a {
    color: #DDD !important; }
  .ido div {
    padding: 16px 32px; }
    .ido div img {
      margin-right: 16px; }

.ido:hover {
  border-left: 4px solid #999999 !important;
  color: #000 !important; }
  .ido:hover a {
    color: #000 !important; }

.selected {
  color: #000 !important; }

/* Content pages */
.infopages {
  margin-right: 0; }

.infopage {
  padding-right: 16px;
  display: none; }

.inview {
  display: block !important; }

/* Some special style for the news clipping page */
ul.news_clippings {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  ul.news_clippings li {
    margin-bottom: 16px; }
    ul.news_clippings li a {
      font-style: italic; }
