@import "_constants";

/* Import our HTML5 reset and 960 grid css */
@import "_reset";
@import "_960";

*::selection {
    background: $orange;
    color: white;
}

*::-webkit-selection {
    background: $orange;
    color: white;
}

*::-moz-selection {
    background: $orange;
    color: white;
}

body > div {
    margin-top:16px;
}

h2, .header {
    font-family: $header-font;
    overflow: hidden;
    width: 100%;
}

a, a:hover, a:active, a:visited {
    text-decoration:none;
    color: $blue;
    border-bottom:1px dotted #999;
}

ol {
    padding-bottom: 32px;
}

img {
    vertical-align: middle;
}

.section {
    position: relative;
}

.article {
    font-size:     1em;
    font-family:   $content-font;
    line-height:   175%;
    color:         #000;
    margin-bottom: 16px;
}

#big-name {
    border-right: 8px solid $orange;
    font-size: 84px;

    a {
        border: 0;
        text-decoration: none;
        color: black;
    }
}

#my-attrs {
    float:left;
    padding-left:20px;
    padding-top:11px;
    font-size:32px;
    width: 284px;
    margin-right: 8px;
}

#social-icons {
    text-align:right;
    padding-top:8px;

    /* Don't underline the social icon links */
    a {
        border-bottom: 0 !important;
    }
}

/* Header's inside article will have a nice code comment effect */
.article > h2:before {
    content: '# ';
}

.article > h2 {
    font-family:    $header-font;
    font-size:      22px;
    font-weight:    normal;
    color:          $orange;
    padding:        0;
    margin:         0 0 8px 0;
}

.footer {
    color: #AAA;
    font-size:12px;
}
