// Font's used in the site
$header-font: 'Inconsolata', sans-serif;
$content-font: 'Yrsa', Georgia, 'Times New Roman', serif;

$golden-ratio: 1.6;
$base-size: 16pt;
$content-size: 1em;
$header-size: $content-size * 2;

// Colors used in the site
$orange: #ff8000;
$blue:   #1691d8;
$grey:   #999;