@import "constants";

/* Import our HTML5 reset and 960 grid css */
@import "reset";
@import "960";

*::selection {
    background: $orange;
    color: white;
}

*::-webkit-selection {
    background: $orange;
    color: white;
}

*::-moz-selection {
    background: $orange;
    color: white;
}

body > div {
    margin-top:16px;
}

h2, .header {
    font-family: $header-font;
    font-size: 22px;
    font-weight: normal;
    overflow: hidden;
    width: 100%;
}

a, a:hover, a:active, a:visited {
    text-decoration:none;
    color: $orange;
    border-bottom:1px dotted #999;
}

ol {
    padding-bottom: 32px;
}

img {
    vertical-align: middle;
}

.section {
    position: relative;
}
