@import "constants";
@import "reset";
@import "960";
@import "instagram";

*::selection {
  background: $orange;
  color: white;
}

*::-webkit-selection {
  background: $orange;
  color: white;
}

*::-moz-selection {
  background: $orange;
  color: white;
}

body {
  font-size: $content-size;
  margin-top:16px;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: $orange;
}

ol {
  padding-bottom: 32px;
}

img {
  vertical-align: middle;
  text-align: center;
}
