@import "constants";

/**
 * Code formatting
 */
pre,
code {
  font-family: $code-font;
  font-size: $small-content-size;
  font-weight: 400;
  line-height: 150%;
  border-radius: 3px;
  background-color: $white;
  border: 0;
  margin: 0;
  padding: 0;
}

code {
  color: $white;
  padding: 0 4px;

  table, tbody, tr, td {
    border-collapse: collapse;
    border: 0;
    padding: 0;
    margin: 0;
  }
}

pre {
  overflow-x: auto;

  > code {
    padding: 8px 0;
    margin: 0;
  }
}


td.gutter {
  border-right: 1px dotted $orange;
  padding: 0 8px 0 8px;

  pre.lineno {
    color: $grey;
  }
}

td.code {
  border: 0;
  padding: 8px 0 8px 8px;
  margin: 0;
}

code.highlighter-rouge {
  font-size: 0.7em;
  color: $orange;
  padding: 4px;
}

figure.highlight {
  border: 0;

  pre {
    border: 0;
    padding: 0;
  }
}