@import "constants";

/**
 * Code formatting
 */
pre,
code {
  font-size: $content-size * 0.8 !important;
  line-height: 150%;
  border-radius: 3px;
  background-color: #EEE;
}

code {
  padding: 0;
}

pre {
  padding: 0;
  margin: 0;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


td.gutter {
  border-right: 1px solid $orange;
  padding: 8px;

  pre.lineno {
    color: lighten( black, 60% );
  }
}

td.code {
  padding: 8px;
}