{% include header.html %}
<div class='section' style='margin-top:16px;'>
	<div class='article grid_8'>
		{{ content }}
	</div>
	<div class='grid_4' style='font-size:14pt;color:#666;'>
		<div style='padding-left:32px;'>
			<div class='post-list-header'><h1>Thoughts</h1></div>
			{% assign year = '0' %}
			{% for post in site.posts limit:20 %}
				{% capture pyear %}{{ post.date | date: '%Y' }}{% endcapture %}
				{% if year != pyear %}
					{% assign year = pyear %}
					<div class='post-year'>{{ year }}</div>
				{% endif %}
			<div class='post-item {% if page.title == post.title %}post-selected{% endif %}'>
				<a href='{{ post.url }}'>
					<div class='post-title'>
						{{ post.title }}
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% include footer.html %}