// Image captions
// Any text wrapped in an "<em>" tag after an image will be considered the
// image caption
figure + em,
img + em  {
  font-size: $content-size * 0.75;
  font-style: normal;
  line-height: $content-size * 1.25;
  margin-right: -176px;
  padding-top: 16px;
  position: absolute;
  right: 0;
  top: 0;
  width: 160px;
}

.caption {
  font-size: $content-size * 0.75;
  font-style: normal;
  line-height: $content-size * 1.25;
  margin-right: -160px;
  position: absolute;
  right: 0;
  width: 160px;
}