@import "960";
@import "instagram";

*::selection {
  background: $orange;
  color: white;
}

*::-webkit-selection {
  background: $orange;
  color: white;
}

*::-moz-selection {
  background: $orange;
  color: white;
}

ol {
  padding-bottom: 2em;
}

p > img {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
  width: 496px;
}